spring:
  application:
    name: mvc

  cloud:
    compatibility-verifier:
      enabled: false

  main:
    allow-bean-definition-overriding: true
server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true